<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.3" targetFramework="net471" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net471" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net471" />
  <package id="Microsoft.Chart.Controls" version="4.7.2046" targetFramework="net471" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="OxyPlot.Wpf" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.2" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
</packages>